<mat-sidenav-container [hasBackdrop]="true" fullscreen>
  <mat-sidenav #sidenav class="bg-dark sidenav" mode="over" [(opened)]="opened" [fixedInViewport]="true" position="end">
    <ul class="list-unstyled" *ngIf="isReady">
      <li *ngFor="let item of filteredMenuItems">
        <a [routerLink]="item.route">{{item.name}}</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Studentor</a>
      <button class="navbar-toggler" type="button" (click)="sidenav.toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>