<div class="container mt-5">
    <div class="row">
        <div class="col-md-7 order-md-2 mb-5">
            <ng-container *ngIf="!updateId">
                <h2>Create Exam</h2>
                <app-create-exam></app-create-exam>
            </ng-container>

            <ng-container *ngIf="updateId">
                <h2>Update Exam</h2>
                <app-update-exam [data_id]="updateId" (updated)="updateId = null"></app-update-exam>
            </ng-container>
        </div>
        <div class="col-md-5 order-md-1">
            <h2>My Exams</h2>
            <app-card *ngFor="let item of cardItems" [data]="item" [isMarked]="updateId == item.value"
                (click)="updateId = item.value" (action)="deleteExam(item.value)"></app-card>
        </div>
    </div>
</div>