<div class="container mt-5">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="col-sm form-group">
                <label>First Name</label>
                <input type="text" formControlName="first_name" class="form-control" />
                <div class="text-danger"
                    *ngIf="form.controls['first_name'].invalid && (form.controls['first_name'].dirty || form.controls['first_name'].touched)">
                    Invalid
                </div>
            </div>
            <div class="col-sm form-group">
                <label>Last Name</label>
                <input type="text" formControlName="last_name" class="form-control" />
                <div class="text-danger"
                    *ngIf="form.controls['last_name'].invalid && (form.controls['last_name'].dirty || form.controls['last_name'].touched)">
                    Invalid
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col form-group">
                <label>Email</label>
                <input type="email" formControlName="email" class="form-control" />
                <div class="text-danger"
                    *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)">
                    Invalid
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col form-group">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" />
                <div class="text-danger"
                    *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)">
                    Invalid
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Register</button>
    </form>
</div>