<div class="form-row">
    <div class="col form-group">
        <label>
            Course
            <button class="btn btn-outline-secondary btn-sm ml-2"
                (click)="showCreateCourse=!showCreateCourse">{{showCreateCourse ? '-' : 'Add'}}</button>
        </label>
        <div class="card bg-light" *ngIf="showCreateCourse">
            <div class="card-body">
                <app-create-course></app-create-course>
            </div>
        </div>
        <ng-container *ngIf="!showCreateCourse">
            <select class="form-control" [(ngModel)]="courseId">
                <option *ngFor="let course of courses" [value]="course._id">{{course.name}}</option>
            </select>
        </ng-container>
    </div>
</div>