<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="col form-group">
            <label>Title</label>
            <input type="text" formControlName="title" class="form-control" />
            <div class="text-danger"
                *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)">
                Invalid
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col form-group">
            <label>Info</label>
            <input type="text" formControlName="info" class="form-control" />
            <div class="text-danger"
                *ngIf="form.controls['info'].invalid && (form.controls['info'].dirty || form.controls['info'].touched)">
                Invalid
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col form-group">
            <label>Due</label>
            <input type="text" formControlName="due" placeholder="Choose date" class="form-control" bsDatepicker>
            <div class="text-danger"
                *ngIf="form.controls['due'].invalid && (form.controls['due'].dirty || form.controls['due'].touched)">
                Invalid
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Update</button>
    <button class="btn btn-secondary ml-3" (click)="updated.emit(false)" type="submit">Cancel</button>
</form>