<div class="container mt-5">
    <div class="row">
        <div class="col-md-7 order-md-2 mb-5">
            <ng-container *ngIf="!updateId">
                <h2>Create Course</h2>
                <app-create-course></app-create-course>
            </ng-container>

            <ng-container *ngIf="updateId">
                <h2>Update Course</h2>
                <app-update-course [data_id]="updateId" (updated)="updateId = null"></app-update-course>
            </ng-container>
        </div>
        <div class="col-md-5 order-md-1">
            <h2>My Courses</h2>
            <app-card *ngFor="let item of cardItems" [data]="item" [isMarked]="updateId == item.value"
                (click)="updateId = item.value" (action)="deleteCourse(item.value)"></app-card>
        </div>
    </div>
</div>