.card .course-controllers {
    transition: height 150ms;
    height: 0;
    overflow: hidden;
}

.card:hover .course-controllers {
    height: 30.6px;
}

.card {
    cursor: pointer;
    transition: transform 150ms;
}

.card:hover {
    transform: scale(1.05);
}